html {
  font-size: 62.5%;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  padding: 1rem;
  background-color: #83c05b;
}

figure img {
  max-width: 100%;
}

#container {
}

header h1,
header h2 {
  display: none;
}

/* NAV */
.navigation ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.navigation ul > * {
  flex-grow: 1;
  flex-basis: 100%;
  padding: 1rem;
  background-color: #9dcd7c;
  border: grey solid 1px;
  border-radius: 1rem;
}
.navigation a {
  text-decoration: none;
  color: white;
}

/* MAIN */

#vision {
}

.vision__img {
  display: none;
}
.vision__teksti p {
  padding: 1rem;
}
.title-flex-box {
  background-color: #cbcbcb;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  margin-block-end: 1rem;
}

#specials,
#events,
#news {
  background-color: #fff;
  padding: 1rem;
  margin-block-end: 1rem;
}
.news__lists {
  display: flex;
}
@media only screen and (min-width: 426px) {
  body {
  }
}
@media only screen and (min-width: 769px) {
  body {
  }
}
